/.Anchor.java._trace
/.CircleFormationFactory.java._trace
/.FIFOAssignmentPolicy.java._trace
/.Formation.java._trace
/.FormationAssignmentPolicy.java._trace
/.FormationFactory.java._trace
/Anchor.java
/CircleFormationFactory.java
/FIFOAssignmentPolicy.java
/Formation.java
/FormationAssignmentPolicy.java
/FormationFactory.java
